/node_modules
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor
/public/coverage/
.env
.env.testing
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
/public/admin
