/node_modules
/public/hot
/public/images/page
/public/images/product
/public/storage
/storage/*.key
/vendor
/public/coverage/
/public/priv/
.env
.env.testing
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
awstats/
logs/
stats/
/public/admin_*
/public/admin-*
/public/projects
/public/images/mysite/
/public/sitemap.txt
/resources/views/includes/mysite.blade.php
/resources/views/includes/mysitefooter.blade.php
/storage/debugbar/
.phpunit.cache/test-results
