includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
#        - routes/
        - database/

    excludePaths:
        - app/Install.php

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - identifier: method.childReturnType
          path: app/Models/Cmsrs


#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
